<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="weather-title">
        <div class="cloud" style="top: 14px; animation-duration: 14s;"></div>
        <div class="cloud" style="top: 55px; width: 60px; height: 20px; animation-duration: 20s; animation-delay: -6s;"></div>

        <div class="logo">
            <i class="fa-solid fa-cloud"></i>
            <span>Web Weather</span>
        </div>

        <div class="search-pill">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search city">
        </div>
    </div>

    <main class="cities-container" id="cities-container">
    </main>

    <main class="card-container" id="card-container">
    </main>
<script src = "/static/js/script.js"></script>
</body>
</html>